@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');

/* ----------------------------------------------Site Wide */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fffff2;
    min-height: 100vh;
    font-family: "Nunito", sans-serif;
    position: relative;
}

main {
    padding-bottom: 60px;
}

.page-title {
    font-family: "Oleo script swash caps", cursive;
    font-size: 3.5rem;
    margin-top: 75px;
    text-align: center;
    color: #343a40;
}

.sub-title {
    font-size: .9rem;
    text-align: center;
    letter-spacing: .10rem;
}

hr {
    width: 30%;
    margin: 5px auto;
}

.social-links {
    color: #45bec4;
    padding: 0 5px;
    font-size: 2rem;
}

.social-links:hover {
    color: #42a3af;
}

.section-title {
    font-family: "Oleo script swash caps", cursive;
    font-size: 2rem;
    color: #45bec4;
}

.btn-dark {
    color: #343a40;
    background-color: #45bec4;
    border-color: #45bec4;
    letter-spacing: .10rem;
    font-weight: 700;
}

.btn-dark:hover {
    color: #343a40;
    background-color: #42a3af;
    border-color: #42a3af;
}

/* ----------------------------------------------Navbar & Footer*/

.js-logo-sm {
    height: 50px;
    border-radius: 50%;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-dark .navbar-nav .nav-link {
    color: #45bec4;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #42a3af;
}

.social-links-foot {
    margin: 0 auto;
}
/* ---------------- Code Pulled from Stack-overflow */
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 60px;
}
/* ---------------- Code Pulled from Stack-overflow */

/* ----------------------------------------------index.html */

/* ----------------------------------------------Hello-Section */

.landing-hello {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    color: #343a40;
}

.landing-hello h1 {
    font-size: 8rem;
    margin: auto 0;
    font-family: "Oleo script swash caps", cursive;
}

.down-arrow i {
    font-size: 5.5rem;
    color: #45bec4;
}

.b-mark {
    color: #45bec4;
}

/* ----------------------------------------------Intro-Section */

.intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 100px;
}

.js-logo-lg {
    height: 200px;
    border-radius: 50%;
}

.intro-section h1 {
    font-size: 7.5rem;
    font-family: "Oleo script swash caps", cursive;
    margin-top: 50px;
    color: #343a40;
}

.intro-section h1 span {
    font-size: 4rem;
    display: block;
    text-align: center;
}

.intro-section h5 {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    position: relative;
    bottom: 35px;
    left: 30px;
    font-weight: 700;
    color: #45bec4;
}

.cta-btns {
    text-align: center;
    margin-bottom: 70px;
}

.landing-btn {
    margin: 0 20px;
    width: 170px;
    height: 50px;
}

/* ----------------------------------------------Contact.html */

.contact-section {
    text-align: center;
}

.contact-form {
    margin: auto;
}

.contact-form form input, textarea {
    box-shadow: 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    padding-left: 5px;
    width: 70%;
}

.contact-form form label{
    margin-top: 10px;
    font-size: 1.25rem;
    letter-spacing: .05rem;
    font-weight: 700;
}

.form-sub {
    margin: 5% 0;
    font-size: 1.5rem;
}

/* ----------------------------------------------about.html */
.about-section {
    width: 100%;
}

.about-block {
    background-color: #343a40;
    color: #fffff2;
}

.js-image {
    width: 700px;
    height: 700px;
    border-radius: 35%;
}

.pi-img-block {
    margin: 3% auto;
    text-align: center;
}

.pi-section {
    margin-top: 10px;
    border-radius: 50px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pi-info {
    margin: 3% auto;
    letter-spacing: .10rem;
    font-weight: 300;
}

.pi-info table tr th i {
    font-size: 2.5rem;
    margin-right: 10px;
    color: #45bec4;
}

table {
    margin: 6% auto 0;
    height: 50%;
    letter-spacing: .10rem;
}

table tr td {
    font-size: 1.25rem;
    font-weight: 400;
}

.nyk-block {
    border-radius: 50px;
    margin-top: 30px;
    padding: 10px 30px;
}

.nyk-block p {
    letter-spacing: 0.15rem;
    padding: 10px 20px;
    font-size: 1.2rem;
}

.nyk-block p span {
    color: #45bec4;
    font-weight: 700;
}

.section-break {
    border-top: 2px #343a40 dotted;
    width: 5%;
    margin: 5% auto;
}

.white-hr {
    border-color: rgba(255, 255, 242, 0.685);
}

.ex-ed-block {
    text-align: center;
    min-height: 500px;
    padding-bottom: 50px;
}

.ex-section, .ed-section {
    height: 100%;
    margin: 10% auto 0;
}

.ex-section table tbody td, .ed-section table tbody td {
    padding-right: 20px;
    font-weight: 300; 
}

.ex-ed-date {
    padding-right: 20px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #45bec4;
}

.skills-block {
    text-align: center;
    margin: 100px auto;
}

.progress-block {
    margin: 50px auto;
}

.progress {
    height: 20px;
    margin-top: 2.5px;
}

.progress-bar {
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    color: #fffff2;
    padding-left: 5px;
    letter-spacing: .05rem;
}

/* ----------------------------------------------projects.html */

.projects-section {
    margin-top: 4%;
}

.mock-img {
    width: 100%;
    margin: 25px auto;
}

.projects-section div h3 {
    text-align: center;
    color: #45bec4;
}

.projects-section div h3:hover {
    color: #42a3af;
}

.projects-section div a {
    text-decoration: none;
}

.project-block {
    background-color: #343a40;
    border: #fffff2 solid 7px;
    border-radius: 30px;
}

.project-info {
    color: #fffff2;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 0.10rem;
}

.project-info h5 {
    font-weight: 700;
    color: #45bec4;
}

.project-info ul li {
    list-style: none;
}

/* ----------------------------------------------Media Queries*/

@media screen and (max-width: 1024px) {
    
    /* ------------------index.html */

    .intro-section {
        padding-top: 20%;
    }

    .cta-btns {
        padding-bottom: 10%;
    }

    /* ------------------about.html */

    .about-1024, .about-1024 .row, .pi-1024 {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .js-image {
        width: 90%;
        height: 80%;
        margin-top: 10%;
    }

    .pi-section {
        border-radius: 0;
        min-height: 400px;
    }

    .nyk-block {
        border-radius: 0;
        margin-top: 0;
    }

    .section-break {
        display: none;
    }

    .skills-block {
        min-height: 300px;
    }

    .ex-ed-block {
        padding-bottom: 15%;
    }

    .ex-section {
        margin-top: 15%;
    }

}

@media screen and (max-width: 576px) {

    /* ------------------index.html */

    .intro-576 {
        height: 100%;
    }

    .intro-section {
        height: 600px;
    }

    .cta-btns {
        margin: 0 auto 10px;
    }

    .landing-btn {
        margin: 5% 3%;
        width: 145px;
    }

    #contact-btn {
        width: 160px;
    }

    /* ------------------about.html */

    .ex-section table tbody td, .ed-section table tbody td {
        padding-top: 5%;
    }
    
}